<div class="featured-section news-feed" news-list>
    <div class="container-medium">
        <input id="news-filter-formatter" placeholder="news search" class="form-control" type="text" ng-model="ctrl.newsFilter">
        <ul class="featured-list" ng-repeat="news in ctrl.listOfNews | newsFilter:ctrl.newsFilter">
            <li class="featured-list__item clear news-component">
                <div class="container-small">
                    <div class="featured-list__content g--half">
                        <h4>{{news.title}}</h4>
                        <p>{{news.content}}</p>
                        <a href="#" class="cta--primary">link</a>
                    </div>
                    <div class="featured-list__img-wrapper g--half g--last">
                        <div class="featured-list__img">
                            <img ng-src={{news.img}} alt="image exemple">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>